.socialMedia{
 display: flex;
 justify-content: center;
}
.socialMediaIcon{
    margin: 7px;
    background: rgb(134, 239, 172);
    padding: 9px;
    font-size: 21px;
    border-radius: 50%;
}
.socialMedia svg{
    color: #000;
}

.emailId{
    padding: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.emailIcon{
    padding: 0px 5px;
    font-size: 20px;
}