@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Gothic&family=Nosifer&family=Nunito+Sans&display=swap');

.startSec{
    min-height: 90vh;
    width: 100%;
    align-items: center;
    /* display: grid;
    place-items: center; */
}

.secText{
    padding: 20px;
}
.secText h1{
    font-weight: 400;
    font-size: 70px;
    font-family: 'Nunito Sans', sans-serif;
}

.startInput input{
    background: transparent;
    color: wheat;
    /* margin-left: 12px; */
    padding: 4px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}

.nextBtn{
    align-items: center;
    font-size: 32px;
    background: transparent;
    border: none;
    color:  rgb(134, 239, 172);
    text-align: center;
}


.startInput form{
    display: flex;
    margin: 20px 0px;
}

.usernameInput:focus{
    border-bottom: 3px solid;
}
.mainSec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.secImg{
}
.secImg img{
    
    display: block;
    margin: auto;
    align-items: center;
    width: 100%;
}

.animatedH1 h1{
    font-size: 40px;
    color: rgb(113 113 122);
}


.animatedText::before {
    color:  rgb(134, 239, 172);
    content: "";
    animation: textChanger 8s infinite linear;
    transform: translateY(-20px);
}


@keyframes textChanger {
    0%{
        content: "Perfect";
    }
    25%{
        content: "Interactive";
        
        text-decoration: dashed;
    }
    50%{
        content: "Modern";
        
        text-decoration: double;
    }
    100%{
        content: "Beautiful";
        
    }
}










@media screen and (max-width: 870px) {
  .mainSec{
    flex-wrap: wrap;
  }
}