.bgColor {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgColors {
  background: transparent;
  color: rgb(134, 239, 172);
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0px 10px;
}

.themeOps {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  text-align: center;
}
.someMoreOpsBtn{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.someMoreOpsBtn button{
    margin: 12px;
}
.opsManu {

  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.opsManu:hover,
.opsManu:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.opsManu:hover {
  transform: translateY(-1px);
}

.opsManu:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.statsImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.statsImg img{
    margin: 12px;

    width: 32%;
} 

.nextBtns{
    text-align: center;
    padding: 16px;
}

.nextBtn{
    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .statsImg img{
        margin: 12px;
    
        width: 80%;
    } 
}